.hero{
    display: flex;
    width: 70%;
    margin: 100px auto;
}
.img{
    width: fit-content;
    position: relative;
}
.img>img:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img>img:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
}

/*  */

.text{
    width: fit-content;
    position: relative;
}
.text h5{
    color: #FFF;
    font-size: 19px;
    margin: 20px 0 100px 0;
}

.text h5>span{
    color: #7127BA;
}

.text>div>h6{
    font-size: 17px;
    color: #FFF;
}
.text>div>h1{
    font-size: 50px;
    color: #FFF;
}

.text>div>h1>span{
    position: relative;
    margin-left: 10px;
    color: #7127BA;
}
.text>div>h1>span>img{
    width: 200px;
    position: absolute;
    left: -25px;
    top: 15px;
}

.text>div>p{
    color: #FFF;
    font-size: 11px;
}

@media (min-width:200px) and (max-width:699px){





    .text>div>h1 {
        font-size: 30px;
    }

    .text>div>h1>span>img {
        width: 115px;
        left: -16px;
        top: 12px;
    }
}

@media (min-width:200px) and (max-width:1100px){
    .hero {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 90%;
    }

    .img>img:nth-child(3){
        display: none;
    }

    .text{
        margin: 0 auto;
    }

    .img{
        width: 100%;
        margin: 30px auto;
    }

    .img img:first-child{
        width: 100%;
    }

    .text h5 {
        margin: 20px 0 30px 0;
        font-size: 16px;
    }

    /* .img{
        margin-top: 30px;
    }

    .img>img:nth-child(3){
        display: none;
    }

    .text h5 {
        margin: 20px 0 30px 0;
        font-size: 16px;
    }

    .text>div>h1 {
        font-size: 30px;
    }

    .text>div>h1>span>img {
        width: 115px;
        left: -16px;
        top: 12px;
    } */
}
