.pr-skills{
    width: 70%;
    margin: 0 auto;
}

.pr-skills>p{
    width: 660px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}

.pr-skills>p>span{
    color: #A362FF;
}
.pr-skills>.skills{
    display: flex;
    gap: 17px;
    width: fit-content;
    margin: 30px auto -20px auto;
}

.pr-skills>.skills>div{
    width: 44px;
    height: 44px;
    background: #251C31;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.pr-skills>.img{
    width: 100%;
}

.pr-skills>.img>img{
    width: 100%;
}

@media (min-width:200px) and (max-width:800px){
    .pr-skills{
        width: 90%;
        overflow: hidden;
    }

    .pr-skills>p {
        width: 100%;
        font-size: 22px;
    }

    .pr-skills>.skills{
        gap: 0;
    }

    .pr-skills>.skills>div {
        width: 20px;
        height: 20px;
    }

    .pr-skills>.skills>div img{
        width: 14px;
    }
}


